html {
	min-height: vars(vh, fullscreen);
	overflow-x: hidden;
	overflow-y: auto;
	background-color: color(base, light);
	color: color(base, dark);
	line-height: 1.5;
	text-rendering: optimizespeed;

	@include font-smoothing;
	@include f-family;
	@include f-weight-normal;
	@include fluid-type(vars(brake-points, sml), vars(brake-points, med), vars(type, med), vars(type, lrg));
}
