// https://codepen.io/jakealbaugh/post/using-sass-functions-to-access-complex-variable-maps
@function vars($var-name, $var-variant: false) {
	@if $var-variant {
		@return map-get(map-get($vars, $var-name), $var-variant);
	} @else {
		@return map-get($vars, $var-name);
	}
}

$vars: (
	type: (
		tny: 12px,
		sml: 13px,
		med: 14px,
		lrg: 16px,
		xlrg: 18px,
		xxlrg: 20px,
		xxxlrg: 32px,
		xxxxlrg: 56px
	),
	icon: (
		mini: 10px,
		tny: 16px,
		sml: 20px,
		med: 24px,
		lrg: 28px,
		xlrg: 32px
	),
	layout: (
		browser-context: 16px,
		spacing: 16px
	),
	brake-points: (
		zero: 0,
		sml: 320px,
		med: 768px,
		lrg: 1024px,
		xlrg: 1280px
	),
	border-radius: (
		tny: 4px,
		sml: 8px,
		med: 16px,
		lrg: 50%,
		xlrg: 100%
	),
	vh: (
		fullscreen: 100vh,
		half: 50vh,
		one-third: 33.3333vh,
		two-third: 66.6666vh
	)
);
$browser-context: vars(layout, browser-context);
$max-width: vars(brake-points, xlrg);
$spacing: vars(layout, spacing);
$zero: vars(brake-points, zero);
$sml: vars(brake-points, sml);
$med: vars(brake-points, med);
$lrg: vars(brake-points, lrg);
$xlrg: vars(brake-points, xlrg);
