.l-row {
	$this: &;

	display: flex;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	flex-wrap: wrap;

	@include rem((max-width: $max-width));

	@include mq($med) {
		&.is-med-justify-content-evenly {
			flex-wrap: nowrap;
			justify-content: space-evenly;
		}

		&.has-med-small-gutter {
			@include rem((padding-left: spacing(.8)));
			@include rem((padding-right: spacing(.8)));

			#{$this}__col {
				@include rem((padding-left: spacing(.2)));
				@include rem((padding-right: spacing(.2)));

				#{$this} {
					@include rem((margin-left: (-(spacing(.2)))));
					@include rem((margin-right: (-(spacing(.2)))));
				}
			}
		}
	}

	&__col {
		width: 100%;

		@include rem((padding-left: spacing(1)));
		@include rem((padding-right: spacing(1)));

		@include mq($sml) {
			&.is-sml-half {
				width: column-width(3, 1.5);
			}

			&.is-sml-1-third {
				width: column-width(3, 1);
			}

			&.is-sml-2-third {
				width: column-width(3, 2);
			}
		}

		@include mq($med) {
			&.is-med-half {
				width: column-width(3, 1.5);
			}

			&.is-med-1-third {
				width: column-width(3, 1);
			}

			&.is-med-2-third {
				width: column-width(3, 2);
			}
		}

		@include mq($lrg) {
			&.is-lrg-half {
				width: column-width(3, 1.5);
			}

			&.is-lrg-1-third {
				width: column-width(3, 1);
			}

			&.is-lrg-2-third {
				width: column-width(3, 2);
			}
		}

		&.is-relative {
			position: relative;
		}

		&.no-overflow {
			overflow: hidden;
		}

		&.text-left {
			text-align: left;
		}

		&.text-right {
			text-align: right;
		}

		&.text-center {
			text-align: center;
		}

		&.is-centered {
			display: block;
			margin-right: auto;
			margin-left: auto;
		}

		&.is-half {
			width: column-width(3, 1.5);
		}

		&.is-1-third {
			width: column-width(3, 1);
		}

		&.is-2-third {
			width: column-width(3, 2);
		}
	}

	#{$this} {
		width: auto;
		max-width: none;

		@include rem((margin-left: (-(spacing(1)))));
		@include rem((margin-right: (-(spacing(1)))));
	}
}
